.wrapping-box {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 1rem;
    padding: 1rem;
    width: 100%
}

.overview-box {
    border-radius: 5px;
    margin-bottom: 1rem;
    padding: 1rem;
    width: 100%;
    background-color:#E0F2F5;
    cursor: pointer;
    transition: all 0.2s;
}

.overview-box:hover {
    background-color: #118199;
    transform: scale(1.1);
}



.overview-text {
    font-size: 14px;
    transition: all 0.2s;
}

.overview-box:hover .overview-text {
    color: #fff;
}

.tag-number {
    width: 10%;
    margin-right: 1rem;
    border-radius: 100px;
    background-color:#118199;
    color: #fff;
    text-align: center;
    padding: 0.5rem;
    font-size: 14px;
    font-weight: 500;
}